body {
 
}

span{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display:inline-block;
   
   
}


#yellow{
    background-color: yellow;
   
    
}
#blue{
    background-color: blue;
    
}
#purple{
    background-color: purple;
    
}
#orange{
    background-color: orange;
   
}